.container {
  margin: 10px;
  padding: 10px;
}

.stock-slider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.stock-card {
  flex: 0 0 auto;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 200px;
  scroll-snap-align: start;
}

.stock-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.purchase-button{
  margin-right: 10px;
  background-color: green;
  color: white;
}